<section class='nav-wrapper'>
  <article>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class='container'>
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="quickadoo_logo">
        </a>
      </div>
    </nav>
  </article>
  <% if(locals.formData){ %>
    <article class='alert alert-success nav-alert-wrapper' role='alert'>
      <h4>Invite your friends via...</h4>
      <div class="input-group col-xl-5 col-lg-6 col-md-8 col-sm-11 col-12">
        <span class="input-group-addon">
          <i class="material-icons">file_copy</i>
          <span class='url'>
            <span class='host-name'></span>
            <%= `${formData[0].poll_url}` %>
          </span>
        </span>
      </div>
    </article>
    <article class="alert alert-danger nav-alert-wrapper" role="alert">
      <h5>Admin page (<em>Don't share it!</em>)</h5>
      <div class="input-group col-xl-5 col-lg-6 col-md-8 col-sm-11 col-12">
        <span class="input-group-addon">
          <i class="material-icons">file_copy</i>
          <span class='url'>
            <span class='host-name'></span>
            <%= `${formData[0].admin_url}` %>
          </span>
        </span>
      </div>
    </article>
    <% } %>
</section>