<table class="table shadow">
  <thead>
    <tr>
      <th scope="col" class="table-success">E-mail</th>
      <th scope="col" class="table-success">First name</th>
      <th scope="col" class="table-success">Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type=email class='form-control' name="voter_email" placeholder="E-mail">
      </td>
      <td>
        <input type=text class='form-control' name="voter_first_name" placeholder="First name">
      </td>
      <td>
        <input type=text class='form-control' name="voter_last_name" placeholder="Last name">
      </td>
    </tr>
  </tbody>
</table>