<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
</head>

<body>
    <main class='container shadow'>
        <% include partials/_navbar %>
            <main>
                <section>
                    <% include partials/_event_form %>
                </section>
            </main>
            <footer></footer>
    </main>
</body>

</html>