<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <% include partials/_navbar %>
  <section class='container shadow landing-page'>
    <main>
      <% include partials/_event_form %>
    </main>
    <footer></footer>
  </section>
</body>

</html>