<!DOCTYPE html>
<html lang="en">
<head><% include partials/_header.ejs %></head>
<body "container shadow">
    <nav><% include navbar.ejs %></nav>
    <section><% include event.ejs %></section>
    <footer><% include partials/_footer.ejs %></footer>
</body>
</html>