.landing-page {
  @extend %center-landing-page;
  @extend %shadow-effect;
  padding: 2em;
  background-color: rgb(245, 252, 240);
  border-radius: $radius;
  text-align: center;
  main {
    text-align: left;
    h1 {
      font-size: 32px;
    }
    img {
      width: 235px;
      vertical-align: bottom;
    }
    h5 {
      margin: 20px 0;
    }
  }
  input {
    @extend %shadow-effect;
  }
}