nav {
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color:whitesmoke;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
