section.nav-wrapper {
  span.input-group-addon {
    display: flex;
    align-items: center;
    i.material-icons {
      font-size: 30px;
      color: #00897b;
    }
  }
  div.container {
    display: flex;
    justify-content: center;
    img {
      width: 235px;
    }
  }
  article.nav-alert-wrapper {
    * {
      margin: 2px auto;
    }
    .input-group {
      &:hover {
        border: 2px #64b5f6 solid;
        border-radius: $radius;
      }
    }
    input[type="text"] {
      font-size: 20px;
      border: none;
    }
  }
}